- content_for(:page_title) do
  Today's Italian lesson

#subject_actions
  %p.first
    %a{:href => '/units/review'}
      %img{:src => '/public/images/review_button.png'}
  %p.break
    %em then
  %p
    %a{:href => '/units/learn'}
      %img{:src => '/public/images/learn_button.png'}

- content_for :callout do
  %h3 Current highlights
  %p
    You have <em>23</em> items to review today and <em>10</em> new items to learn.
  %p
    So far you have learned <em>456</em> items meaning you are <em>12%</em> complete
    with the curriculum.
  %p
    You have an <em>84%</em> retention rate, which is very good.  Anything above 90%
    is considered to be excellent.