- content_for(:page_title) do
  Today's Italian lesson

#subject_actions
  %p.first
    %a{:href => '#'}
      %img{:src => '/public/images/review_button.png'}
  %p.break
    %em then
  %p
    %a{:href => '#'}
      %img{:src => '/public/images/learn_button.png'}

- content_for :instructions do
  %p
    Please both review already learned material and learn new material on a
    daily basis.  This repitition ensures long term memory retention.
  %p
    You can always change the number of items you learn per day by adjusting
    your
    %a{:href => '#'} account settings.