- content_for :instructions do
  %p
    Please both review already learned material and learn new material on a
    daily basis.  This repetition ensures long term memory retention.
  %p
    You can always change the number of items you learn per day by adjusting
    your
    %a{:href => edit_user_path(current_user)} account settings.