- unit = @units.first

= render :partial => '/shared/question', :locals => { :unit => unit, :progress => remaining_quiz }

#answer_wrapper
  #answer.hidden
    %p= unit.answer
    %ul.unit_actions
      %li= link_to image_tag('next.png'), next_quiz_link, :key => 'n'
      
  %p#show_answer.tab
    %a.show{:href => '#answer', :hide => '#show_answer', :key => 's' }
      %img{:src => '/images/show.png'} Show answer
      
- content_for :shortcuts do
  %h4 Keyboard shortcuts:
  %ul
    %li Show answer: 's'
    %li Show/Hide hint: 'h'
    %li
      Add/Edit hint:
      = link_to_function "'a'", "$('#hint').editHint();", :key => 'a'
    %li Next: 'n'
    %li Quit: 'q'