#footer_wrapper
  #footer
    #footer_links
      %ul
        %li
          %a{:href => '#'} Help
        %li
          %a{:href => '#'} About
        %li
          = mail_to("ryan@yfactorial.com", 'Contact')
    %p
      copyright yFactorial, LLC 2008